SPRING_PROFILES_ACTIVE=local

DB_URL=jdbc:postgresql://127.0.0.1:54322/postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres

AUTH_JWT_ISSUER=
AUTH_JWT_AUDIENCE=
AUTH_JWT_SECRET=
AUTH_REFRESH_TOKEN_TTL=
AUTH_FRONTEND_LOGIN_CALLBACK_URI=
AUTH_FRONTEND_SIGNUP_CALLBACK_URI=
AUTH_FRONTEND_ERROR_CALLBACK_URI=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_AUTHORIZATION_URI=
GOOGLE_OAUTH_TOKEN_URI=
GOOGLE_OAUTH_USER_INFO_URI=
GOOGLE_OAUTH_REDIRECT_URI=

KAKAO_OAUTH_CLIENT_ID=
KAKAO_OAUTH_CLIENT_SECRET=
KAKAO_OAUTH_AUTHORIZATION_URI=
KAKAO_OAUTH_TOKEN_URI=
KAKAO_OAUTH_USER_INFO_URI=
KAKAO_OAUTH_REDIRECT_URI=

NAVER_OAUTH_CLIENT_ID=
NAVER_OAUTH_CLIENT_SECRET=
NAVER_OAUTH_AUTHORIZATION_URI=
NAVER_OAUTH_TOKEN_URI=
NAVER_OAUTH_USER_INFO_URI=
NAVER_OAUTH_REDIRECT_URI=
